.header-login {
    background-color: #10243b;
    color: white;
    padding: 20px;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    border-bottom: 5px solid #0056b3;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px; /* Adiciona espaço abaixo do cabeçalho */
    border-radius: 10px; /* Cantos arredondados */
}

.header-login h1 {
    margin: 0;
    font-size: 28px; /* Ajuste de tamanho de fonte para o título */
}

.header-login p {
    margin-top: 10px; /* Espaço entre o título e o parágrafo */
    font-size: 18px;  /* Ajuste de tamanho de fonte para o texto */
}
